{%- style -%}

{% if section.settings.is_theme_font_style_used == true %}
    {{section.settings.font_style | font_face}}{% endif %}


.dg-container__{{section.id}}{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media(min-width: 576px) {
    .dg-container__{{section.id}}{
        max-width: 540px;
    }
}

@media(min-width: 768px) {
    .dg-container__{{section.id}}{
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .dg-container__{{section.id}}{
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    .dg-container__{{section.id}}{
        max-width: 1140px;
    }
}

@media(min-width: 1400px) {
    .dg-container__{{section.id}}{
        max-width: 1320px;
    }
}
.dg-row__{{section.id}}{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.dg-row__{{section.id}}> * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.dg-justify-content__{{section.id}}{
    justify-content: center;
}

@media(min-width: 576px) {
    .dg-col-sm-6__{{section.id}}{
        flex: 0 0 auto;
        width: 50%;
    }
}

.about-section__{{section.id}}{
    padding-top: {{section.settings.section_padding_top}}px;
    padding-bottom: {{section.settings.section_padding_bottom}}px;
    background-color: {{section.settings.section_background_color}};
    color: {{section.settings.text_color}};
    {% if section.settings.is_theme_font_style_used == true %}
        font-family: {{section.settings.font_style.family}};
    {% endif %}
}

.column-1__{{section.id}}{
    position: relative;
    left: 35px;
    top: 30px;
    z-index: 1;
}

.column-2__{{section.id}} {
    position: relative;
    right: 35px;
    bottom: 30px;
}

.text-container__{{section.id}}{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    width: 100%;
    height: 100%;
    background-color: {{section.settings.text_block_color}};
}

.title__{{section.id}}{
    margin-bottom: {{section.settings.title_margin_bottom}}px;
    font-size: {{section.settings.title_font_size}}px;
    font-weight: {{section.settings.title_font_weight}};
    font-style: {{section.settings.title_font_style}};
}

.description__{{section.id}}{
    font-size: {{section.settings.description_font_size}}px;
}

.description__{{section.id}} > p {
    margin: 0;
    color: {{section.settings.text_color}};
}

.image__{{section.id}}{
    object-fit: cover;
}

.button__{{section.id}}{
    margin-top: {{section.settings.button_margin_top}}px;
    padding: {{section.settings.button_vertical_padding}}px {{section.settings.button_horizont_padding}}px;
    color: {{section.settings.button_text_color}};
    font-size: {{section.settings.button_font_size}}px;
    background-color: {{section.settings.button_background_color}};
    text-align: center;
    vertical-align: middle;
    border-radius: {{section.settings.button_border_radius}}px;
    text-decoration: none;
    border: {{section.settings.button_border_width}}px solid {{section.settings.button_border_color}};
    cursor: pointer;
}

.button__{{section.id}}:hover {
    background-color: {{section.settings.button_background_color_hover}};
    border-color: {{section.settings.button_border_color_hover}};
    color: {{section.settings.button_text_color_hover}};
}

.button__{{section.id}}:active {
    background-color: {{section.settings.button_background_color_active}};
    border-color: {{section.settings.button_border_color_active}};
    color: {{section.settings.button_text_color_active}};
}

@media(max-width: 576px) {
    .about-section__{{section.id}}{
        padding-top: {{section.settings.section_padding_top_mobile}}px;
        padding-bottom: {{section.settings.section_padding_bottom_mobile}}px;
    }

    .column-1__{{section.id}}{
        position: static;
        margin-bottom: 10px;
    }
    
    .column-2__{{section.id}} {
        position: static;
    }

    .text-container__{{section.id}}{
        padding: 30px;
    }

    .title__{{section.id}}{
        margin-bottom: {{section.settings.title_margin_bottom_mobile}}px;
        font-size: {{section.settings.title_font_size_mobile}}px;
    }

    .description__{{section.id}}{
        font-size: {{section.settings.description_font_size_mobile}}px;
    }
}

{%- endstyle -%}

{%-style-%}

{{section.settings.custom_css}}

{%-endstyle-%}

<div class="about-section__{{section.id}}">
  <div class="dg-container__{{section.id}}">
      <div class="dg-row__{{section.id}} dg-justify-content__{{section.id}}">
        <div class="dg-col-sm-6__{{section.id}} column-1__{{section.id}}">
          <div class="text-container__{{section.id}}">
            {%if section.settings.title_text != blank%}
              <div class="title__{{section.id}}">{{ section.settings.title_text | escape }}</div>
            {%endif%}
            {%if section.settings.description_text != blank%}
              <div class="description__{{section.id}}">{{ section.settings.description_text }}</div>
            {%endif%}

            {% if section.settings.button_label != blank %}
              <a href="{{section.settings.button_link}}" class="button__{{section.id}}">{{section.settings.button_label}}</a>
            {% endif %}

          </div>
        </div>


        <div class="dg-col-sm-6__{{section.id}} column-2__{{section.id}}">
          {% if section.settings.image == blank %}
            <img src="https://cdn.shopify.com/s/files/1/0567/3399/1064/files/annie-spratt-QckxruozjRg-unsplash.jpg"
              class="image__{{section.id}}"
              loading="lazy"
              sizes="(min-width: 1100px) 1100px, (min-width: 750px) 750px"
              width="100%"
              height="100%"
            />
          {% else %}
            <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
              {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w{%- endif -%}"
              src="{{ section.settings.image | img_url: '525x' }}"
              class="image__{{section.id}}"
              sizes="(min-width: 1100px) 1100px, (min-width: 750px) 750px"
              alt="{{ section.settings.image.alt | escape }}"
              loading="lazy"
              width="100%"
              height="100%"
            >
          {% endif %}
        </div>
      </div>
  </div>
</div>

{% schema %}

{
    "name": "Dingo-About-20",
    "tag": "section",
    "class": "spaced-section spaced-section--full-width",
    "settings": [
        {
            "type": "header",
            "content": "Main settings"
        }, {
            "type": "text",
            "id": "title_text",
            "default": "About us",
            "label": "Title text"
        }, {
            "type": "richtext",
            "id": "description_text",
            "default": "<p>Use this text to share information about your company with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
            "label": "Description text"
        }, {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }, {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Learn more"
        }, {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        }, 
        {
            "type": "header",
            "content": "Common text settings"
        }, {
            "type": "checkbox",
            "id": "is_theme_font_style_used",
            "default": false,
            "label": "Override default font"
        }, {
            "type": "font_picker",
            "id": "font_style",
            "default": "roboto_n4",
            "label": "Font style",
            "info": "CAUTION: Custom fonts might cause slower load times. If you would like to use a custom font please enable 'Override default font'"
        }, {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#000000"
        },
        
        
        {
            "type": "header",
            "content": "Text settings"
        }, {
            "type": "color",
            "id": "text_block_color",
            "label": "Text block color",
            "default": "#EFEFEF"
        }, {
            "type": "range",
            "id": "title_font_size",
            "min": 30,
            "max": 90,
            "step": 1,
            "unit": "px",
            "label": "Title font size",
            "default": 42
        }, {
            "type": "range",
            "id": "title_font_size_mobile",
            "min": 30,
            "max": 90,
            "step": 1,
            "unit": "px",
            "label": "Title font size",
            "default": 30
        }, {
            "type": "select",
            "id": "title_font_weight",
            "label": "Title font weight",
            "options": [
                {
                    "value": "normal",
                    "label": "normal"
                }, {
                    "value": "bold",
                    "label": "bold"
                }
            ],
            "default": "bold"
        }, {
            "type": "select",
            "id": "title_font_style",
            "label": "Title font style",
            "options": [
                {
                    "value": "normal",
                    "label": "normal"
                }, {
                    "value": "italic",
                    "label": "italic"
                }
            ],
            "default": "normal"
        }, {
            "type": "range",
            "id": "title_margin_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Title margin bottom",
            "default": 24
        }, {
            "type": "range",
            "id": "title_margin_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Title margin bottom (mobile)",
            "default": 0
        }, {
            "type": "range",
            "id": "description_font_size",
            "min": 16,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Description font size",
            "default": 20
        }, {
            "type": "range",
            "id": "description_font_size_mobile",
            "min": 10,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Description font size (mobile)",
            "default": 14
        }, {
            "type": "header",
            "content": "Button settings"
        }, {
            "type": "range",
            "id": "button_font_size",
            "label": "Button font size",
            "min": 10,
            "max": 30,
            "step": 1,
            "unit": "px",
            "default": 16
        }, {
            "type": "color",
            "id": "button_background_color",
            "label": "Button background color",
            "default": "#199C68"
        }, {
            "type": "color",
            "id": "button_text_color",
            "label": "Button text color",
            "default": "#ffffff"
        }, {
            "type": "range",
            "id": "button_border_width",
            "label": "Button border width",
            "min": 0,
            "max": 5,
            "step": 1,
            "unit": "px",
            "default": 0
        }, {
            "type": "color",
            "id": "button_border_color",
            "label": "Button border color",
            "default": "#ffffff"
        }, {
            "type": "range",
            "id": "button_border_radius",
            "label": "Button radius",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 50
        }, {
            "type": "range",
            "id": "button_vertical_padding",
            "label": "Button vertical padding",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 17
        }, {
            "type": "range",
            "id": "button_horizont_padding",
            "label": "Button horizont padding",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 60
        }, {
            "type": "range",
            "id": "button_margin_top",
            "label": "Button top margin",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 30
        },
        
        {
            "type": "header",
            "content": "Button settings: hover"
        },
        {
            "type": "color",
            "id": "button_background_color_hover",
            "label": "Button background color",
            "default": "#199C68"
        },
        {
            "type": "color",
            "id": "button_text_color_hover",
            "label": "Button text color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "button_border_color_hover",
            "label": "Button border color",
            "default": "#ffffff"
        },
        {
            "type": "header",
            "content": "Button settings: active"
        },
        {
            "type": "color",
            "id": "button_background_color_active",
            "label": "Button background color",
            "default": "#199C68"
        },
        {
            "type": "color",
            "id": "button_text_color_active",
            "label": "Button text color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "button_border_color_active",
            "label": "Button border color",
            "default": "#ffffff"
        },
        
        
        
        {
            "type": "header",
            "content": "Layout settings"
        }, {
            "type": "color",
            "id": "section_background_color",
            "label": "Section background color",
            "default": "#ffffff"
        }, {
            "type": "range",
            "id": "section_padding_top",
            "min": 0,
            "max": 200,
            "step": 10,
            "unit": "px",
            "label": "Section top padding",
            "default": 180
        }, {
            "type": "range",
            "id": "section_padding_bottom",
            "min": 0,
            "max": 200,
            "step": 10,
            "unit": "px",
            "label": "Section bottom padding",
            "default": 180
        }, {
            "type": "range",
            "id": "section_padding_top_mobile",
            "min": 0,
            "max": 200,
            "step": 10,
            "unit": "px",
            "label": "Section top padding (mobile)",
            "default": 60
        }, {
            "type": "range",
            "id": "section_padding_bottom_mobile",
            "min": 0,
            "max": 200,
            "step": 10,
            "unit": "px",
            "label": "Section bottom padding (mobile)",
            "default": 60
        }, {
            "type": "header",
            "content": "Custom settings"
        }, {
            "type": "textarea",
            "id": "custom_css",
            "label": "Custom CSS"
        }
    ],
    "presets": [
        {
            "name": "Dingo-About-20"
        }
    ]
}

{% endschema %}
